components/checkbox.html

<div class="checkbox">
  <div class="yellow-title-bg yellow-title-bg--small"></div>
  <div class="checkbox__wrapper">
    <p class="checkbox__title">最近、買い物にいく回数が<br/>増えていませんか？</p>
    <div class="checkbox__green-line"><img class="checkbox__green-line-img" src="assets/image/green-line.png"/></div>
  </div>
  <div class="checkbox__text-wrapper">
    <p class="checkbox__text">□ <span>お悩み内容が入ります。これはコピーです。</span></p>
    <p class="checkbox__text">□ <span>お悩み内容が入ります。これはコピーです。</span></p>
    <p class="checkbox__text">□ <span>お悩み内容が入ります。これはコピーです。</span></p>
    <p class="checkbox__text">□ <span>お悩み内容が入ります。これはコピーです。</span></p>
    <p class="checkbox__text">□ <span>お悩み内容が入ります。これはコピーです。</span></p>
  </div>
</div>

src/pug/components/checkbox.pug
.checkbox
  .yellow-title-bg.yellow-title-bg--small

  .checkbox__wrapper
    p.checkbox__title 最近、買い物にいく回数が
      br
      | 増えていませんか？
    
    .checkbox__green-line
      img.checkbox__green-line-img(src="assets/image/green-line.png")

  .checkbox__text-wrapper
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。
    
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。
    
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。
    
    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。

    p.checkbox__text □ 
      span お悩み内容が入ります。これはコピーです。
