src/pug/components/points.pug
.yellow-title-bg 
  p.yellow-title-text.yellow-title-text--points efsデリにお任せください！

.points
  .points__wrapper
    ul.points__list
      li.points__item
        p.points__number POINT
          span 1
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 2
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 3
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 4
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box
      
      li.points__item
        p.points__number POINT 
          span 5
        p.points__title できる見出し入ります。
        p.points__text これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。
        .points__box

components/points.html

<div class="yellow-title-bg"> 
  <p class="yellow-title-text yellow-title-text--points">efsデリにお任せください！</p>
</div>
<div class="points">
  <div class="points__wrapper">
    <ul class="points__list">
      <li class="points__item">
        <p class="points__number">POINT<span>1</span></p>
        <p class="points__title">できる見出し入ります。</p>
        <p class="points__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        <div class="points__box"></div>
      </li>
      <li class="points__item">
        <p class="points__number">POINT <span>2</span></p>
        <p class="points__title">できる見出し入ります。</p>
        <p class="points__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        <div class="points__box"></div>
      </li>
      <li class="points__item">
        <p class="points__number">POINT <span>3</span></p>
        <p class="points__title">できる見出し入ります。</p>
        <p class="points__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        <div class="points__box"></div>
      </li>
      <li class="points__item">
        <p class="points__number">POINT <span>4</span></p>
        <p class="points__title">できる見出し入ります。</p>
        <p class="points__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        <div class="points__box"></div>
      </li>
      <li class="points__item">
        <p class="points__number">POINT <span>5</span></p>
        <p class="points__title">できる見出し入ります。</p>
        <p class="points__text">これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。れはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。</p>
        <div class="points__box"></div>
      </li>
    </ul>
  </div>
</div>
